<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona rejestracji</title>
</head>
<body>

<form action="#" th:action="@{/formularzRejestracji}" th:object="${nowyUzytkownik}" method="post">
    email (który będzie twoim loginem): <input type="text" th:field="*{loginMail}">
    hasło: <input type="text" th:field="*{haslo}">
    miasto: <input type="text" th:field="*{miasto}">
    miasto: <input type="hidden" th:field="*{adresDto}">

    <input type="submit" value="Zatwierdz">
</form>
</body>
</html>